<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            <a href="https://beian.miit.gov.cn">粤ICP备18142962号</a>
        </div>
    </div>
</footer>
